{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">首页面板</a>
                </li>
                <li>
                    <a href="/campaigns">活动列表</a>
                </li>
                <li>
                    <a href="/groups">用户群组</a>
                </li>
                <li> <a href="/templates">邮件模版</a>
                </li>
                <li>
                    <a href="/landing_pages">引导页面</a>
                </li>
                <li>
                    <a href="/sending_profiles">发送属性</a>
                </li>
                <li>
                    <a href="/settings">帐号设置</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">用户管理<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks">网页钩子<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}